[submodule "pkgs/gnome-shell-extension-system-monitor-git"]
	path = pkgs/gnome-shell-extension-system-monitor-git
	url = https://aur.archlinux.org/gnome-shell-extension-system-monitor-git.git
[submodule "pkgs/spotify"]
	path = pkgs/spotify
	url = https://aur.archlinux.org/spotify.git
[submodule "pkgs/slack-desktop"]
	path = pkgs/slack-desktop
	url = https://aur.archlinux.org/slack-desktop.git
[submodule "pkgs/nautilus-dropbox"]
	path = pkgs/nautilus-dropbox
	url = https://aur.archlinux.org/nautilus-dropbox.git
[submodule "pkgs/ttf-symbola"]
	path = pkgs/ttf-symbola
	url = https://aur.archlinux.org/ttf-symbola.git
[submodule "pkgs/ttf-roboto-mono"]
	path = pkgs/ttf-roboto-mono
	url = https://aur.archlinux.org/ttf-roboto-mono.git
[submodule "pkgs/ttf-iosevka-term"]
	path = pkgs/ttf-iosevka-term
	url = https://aur.archlinux.org/ttf-iosevka-term.git
[submodule "pkgs/ttf-gelasio-ib"]
	path = pkgs/ttf-gelasio-ib
	url = https://aur.archlinux.org/ttf-gelasio-ib.git
[submodule "pkgs/ttf-comic-neue"]
	path = pkgs/ttf-comic-neue
	url = https://aur.archlinux.org/ttf-comic-neue.git
[submodule "pkgs/ttf-emojione"]
	path = pkgs/ttf-emojione
	url = https://aur.archlinux.org/ttf-emojione.git
[submodule "pkgs/dropbox"]
	path = pkgs/dropbox
	url = https://aur.archlinux.org/dropbox.git
[submodule "pkgs/wrk"]
	path = pkgs/wrk
	url = https://aur.archlinux.org/wrk.git
[submodule "pkgs/nodenv"]
	path = pkgs/nodenv
	url = https://aur.archlinux.org/nodenv.git
[submodule "pkgs/nodenv-node-build-git"]
	path = pkgs/nodenv-node-build-git
	url = https://aur.archlinux.org/nodenv-node-build-git.git
[submodule "pkgs/rbenv"]
	path = pkgs/rbenv
	url = https://aur.archlinux.org/rbenv.git
