pkgbase = ansible-bundler
	pkgdesc = Turn Ansible playbooks into executable files
	pkgver = 1.6.0
	pkgrel = 1
	url = https://github.com/kriansa/ansible-bundler
	arch = any
	license = custom:BSD
	depends = ansible
	source = https://github.com/kriansa/ansible-bundler/archive/v1.6.0.tar.gz
	sha256sums = 90b4965662d34733d65cbd95e2d273858cf2d7153a2b757bcf83ef57a01fa11a

pkgname = ansible-bundler

