pkgbase = nvidia-utils-418
	pkgver = 418.74
	pkgrel = 1
	url = http://www.nvidia.com/
	arch = x86_64
	license = custom
	options = !strip
	source = nvidia-drm-outputclass.conf
	source = nvidia-utils.sysusers
	source = https://download.nvidia.com/XFree86/Linux-x86_64/418.74/NVIDIA-Linux-x86_64-418.74.run
	sha512sums = c49d246a519731bfab9d22afa5c2dd2d366db06d80182738b84881e93cd697c783f16ee04819275c05597bb063451a5d6102fbc562cd078d2a374533a23cea48
	sha512sums = 4b3ad73f5076ba90fe0b3a2e712ac9cde76f469cd8070280f960c3ce7dc502d1927f525ae18d008075c8f08ea432f7be0a6c3a7a6b49c361126dcf42f97ec499
	sha512sums = 485d94f0a328c117f86c7b2d8e14885aa1e498755bcc7285aaba1cf5e8f4672feaece7c87a7d0f835c55ff4022d0be6b023ffee262f0a3073ccf88ca1f39201f

pkgname = nvidia-utils-418
	pkgdesc = NVIDIA drivers utilities
	install = nvidia-utils.install
	depends = xorg-server
	depends = libglvnd
	depends = egl-wayland
	optdepends = nvidia-settings: configuration tool
	optdepends = xorg-server-devel: nvidia-xconfig
	optdepends = opencl-nvidia: OpenCL support
	provides = nvidia-utils=418.74
	provides = vulkan-driver
	provides = opengl-driver
	provides = nvidia-libgl
	conflicts = nvidia-libgl
	replaces = nvidia-libgl

pkgname = opencl-nvidia-418
	pkgdesc = OpenCL implemention for NVIDIA
	depends = zlib
	optdepends = opencl-headers: headers necessary for OpenCL development
	provides = opencl-nvidia=418.74
	provides = opencl-driver

